<div class="title is-3">Confirm Match</div>

<%= link_to("Autogenerate system email to offer owner", root_path) %>
<%= link_to("Autogenerate system text to offer owner", root_path) %>

<%= link_to("Log email to offer owner", new_communication_logs_path) %>
<%= link_to("Log text to offer owner", new_communication_logs_path) %>
