<div class="section">
  <div class="columns is-marginless">
    <div class="column is-9">
      <h1 class="title">Share</h1>
      <br>
    </div>
    <div class="column is-2">
      <%= render "layouts/add_new_button", table_name: "listings" %>
    </div>
  </div>
</div>
<div class="section">
  <div id="public-listings">
  </div>
</div>

<script>
 document.addEventListener('DOMContentLoaded', () => {
    EntryPoints.publicListings('#public-listings')
  })

</script>
