<div class="section">
  <div class="title is-3">Find a way to share</div>
</div>
<div class="section">
  <div id="public-listings">
  </div>
</div>

<script>
 document.addEventListener('DOMContentLoaded', () => {
    EntryPoints.publicListings('#public-listings')
  })

</script>
