<div class="section">
  <div class="columns is-marginless">
    <div class="column is-8">
      <h1 class="title">Share</h1>
      <br>
    </div>
    <div class="column is-4 is-pulled-right has-text-right">
      <a class="button" href="/listings/offers/new"><span class="fa fa-plus-square"></span><span class="pl-05 has-text-black"> Offer</span></a>
      <a class="button " href="/listings/asks/new"><span class="fa fa-plus-square"></span><span class="pl-05 has-text-black">  Ask</span></a>
      <br>
      <a href="www.google.com">Get involved</a>
    </div>
  </div>
</div>
<div class="section">
  <div id="public-listings">
  </div>
</div>

<script>
 document.addEventListener('DOMContentLoaded', () => {
    EntryPoints.publicListings('#public-listings')
  })

</script>
