<section class="section">
  <div id="entry-point" />
</section>

<script>
document.addEventListener('DOMContentLoaded', () => {
  EntryPoints.browse('#entry-point', {
    contributions: <%= raw json_escape(@contributions.to_json) %>,
    filterCategories: <%= raw json_escape(@filter_categories.to_json) %>
  });
});
</script>
