<h1 class="title">Request support</h1>

<p class="subtitle">
<%= @organization.name %>
</p>

<div class="columns">
  <div class="column is-half-tablet">
    <div class="content mb-1">
      <%= sanitize @form.header_html %>
    </div>

    <div id="ask">
    </div> <!-- this closing tag is necessary -->

    <div class="content mt-1">
      <%= sanitize @form.footer_html %>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    EntryPoints.ask('#ask', <%= raw @json %>)
  })
</script>

