<div class="title is-3">Forms admin</div>

<%= link_to "Forms", forms_path %>
<br>
<%= link_to "Custom Form Questions", custom_form_questions_path %>
<br>
<%= link_to "Form Questions", form_questions_path  %>
<br>

<br>
<%= link_to "Admin home", landing_page_admin_path %>