<div class="title is-3">Volunteer admin</div>

<%= link_to "Manage system permissions", users_path %>
<br>
<%= link_to "View training status", people_path %>
<br>
<%= link_to "Filter by workload", people_path %>
<br>