<h1 class="title is-3">Submission Response Import</h1>

<%= form_with url: submission_response_imports_path, multipart: true, local: true do |f| %>
  <div id="upload">
  </div>

  <%= f.submit "Import", class: "button is-primary" %>
<% end  %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    EntryPoints.fileUpload('#upload', {
      fieldName: 'submission_response_import[file]',
    })
  })
</script>
