<section class="section">
  <div id="contributions" />
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    VueInstances.browse('#contributions', {
      contributions: <%= raw json_escape(@contributions) %>,
      filterGroupings: <%= raw json_escape(@filter_groupings) %>
    });
  });
</script>
