<%%= simple_form_for @<%= singular_table_name %> do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <%%= render "layouts/view_footer_buttons", f: f, record: @<%= singular_table_name %>, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<%% end %>
