<strong>Communication history with <%= person&.name %><%= " re this match" if @match.present? %>:</strong>
<br><br>
<ul>
  <% @communication_logs.where(person: person).order(sent_at: :desc).each do |log| %>
    <% delivery_status = " [#{log.delivery_status}] " %>
    <% icon = "<span class='#{log.needs_follow_up? ? 'fa fa-exclamation-circle has-text-warning' : 'fa fa-circle has-text-white'}'></span>" %>
    <% short_name = "#{icon} #{shorthand_display(log.sent_at)}#{delivery_status} - #{log.subject}" %>
    <li><%= edit_button(log, short_name, log.delivery_method.icon_class || "fa fa-telegram") %></li>
  <% end %>
</ul>
