@import "bootstrap";
@import "font-awesome";
@import "./authenticated";

.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
