@import './font_awesome';
@import './bulma_and_buefy';

@import './custom_spacing_helpers';
@import './bulma_simple_form_customization';

@import './yearbook';  // TODO: remove this once listings/new is refactored
@import './listings';  // TODO: remove this once listings/new is refactored

@import './mapbox-gl';
@import './maps';

 // TODO: use has-text-centered instead
.text-center {
  text-align: center;
}

.section-detail {
  padding: 0rem 1.5rem 3rem 0rem;
}
