//# hacks for simple-form + bulma

.simple_form {
  .is-inline-flex {
    display: inline-flex;
  }

  .form-actions {
    padding-top: 3em;
  }

  .is-grouped {
    &.field {
      inline-size: max-content;
    }
  }

  .field {
    padding: 0em 2em 1em 0em;  // spacing between fields
  }

  .field-label {
    text-align: left !important;
    margin-right: 1rem !important;
  }

  .field-label-left {
    text-align: left !important;
    margin-right: 1rem !important;
  }

  .checkbox, .radio {
    &.check_boxes, .radio_buttons { // spacing between radio/checkbox input and label
      margin-right: .25em;
    }
  }

  .vertical-checkboxes {
    max-height: 25em;
    overflow: scroll;
  }

  .radio+.radio, .checkbox+.checkbox {
    margin-left: .75em; // spacing between radio/checkbox items
  }

  .collection_radio_buttons {
    padding-right: 1em;
    margin-left: 0.25em;
  }

  input.radio {
    color: red !important;
    padding-left: 10em;
  }

  .label {
    .select:not(.is-multiple):not(.is-loading)::after {
      border-color: transparent;
    }
  }

  .select {
    vertical-align: baseline;
  }

  .select:not(.is-multiple) {
    height: inherit !important;
  }

  .select:not(.is-multiple):not(.is-loading)::after {
    right: 3rem;
    top: 3.25em;
    .label {
      border-color: transparent;
    }
  }
}

// TODO: This probably won't apply on the Vue side?
// Also curious whether this was broken in bulma/buefy or whether we somehow broke contrast on our end?
// See changes and discussion related to:
// https://github.com/rubyforgood/mutual-aid/pull/802/files#diff-c294dca894b2caf2991c841a93ea91a10835f5f4f31b816e06a5b01ff30599f4R80-R88
.button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}

.button.is-primary.is-focused:not(:active), .button.is-primary:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(0, 0, 0, 0.76);
}
