// Place all the styles related to the listings controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.listing-form {
  max-width: 800px;

  .form-group.required > label:first-child:after {
    content: '*';
    color: orange;
    margin-left: 2px;
  }

  .form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
  }
  .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
  }
  .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
  }
  .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
  }
  .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
  }
}
