// Place all the styles related to the listings controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.listing-form {
  max-width: 800px;
}
