// Place all the styles related to the listings controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.listing-form {
  max-width: 800px;

  .field.required > label:first-child:after {
    content: '*';
    color: orange;
    margin-left: 2px;
  }

  .field input[type="checkbox"] + label span {
    width: 20px;
  }
  .field input[type="checkbox"] + label span:first-child {
    display: none;
  }
  .field input[type="checkbox"] + label span:last-child {
    display: inline-block;
  }
  .field input[type="checkbox"]:checked + label span:first-child {
    display: inline-block;
  }
  .field input[type="checkbox"]:checked + label span:last-child {
    display: none;
  }
}
.tileBrowser-listItem {
  &.box {
    margin: 0.2em;
  }
  .tagList-tag {
    margin: 0.1em;
  }
}
