<h1 class="title">New External Resource</h1>
<div class="section">
  <%= render 'form', external_resource: @external_resource %>
  <div class="mt-1">
    <%= link_to 'Back', external_resources_path %>
  </div>
</div>