<div id="orientation"></div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    EntryPoints.orientation('#orientation', {
      organization: "<%= @organization_name %>",
      landingPageTextWhat: "<%= @landing_page_text_what %>",
      landingPageTextWho: "<%= @landing_page_text_who %>",
      landingPageTextHow: "<%= @landing_page_text_how %>"
    })
  })
</script>
