<%= render "layouts/view_header", resource: @announcements.first, page_title: "Announcements", table_name: "announcements", controller_name: "announcements", view_action_name: "index" %>

<div class="row">
  <table class="table table-hover table-curved table-condensed">
    <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td>
          <strong><%= announcement.name %></strong>
          <br>
          <em><%= announcement.description.truncate(100) %> <%= link_to("More", announcement_path(announcement)) if announcement.description.length > 100 %></em>
          <hr>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
