<nav class='navbar is-fixed-top is-white'>
  <div class='navbar-brand'>
    <div class='navbar-item'>
      <a href='/'>
        <%= image_tag 'logo.png', height: 300, alt: 'festi logo'%>
      </a>
    </div>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class='navbar-menu'>
    <% if current_user %>
      <div class="navbar-start">
        <div class="navbar-item">
          <a href="/listings">Share</a>
        </div>
        <div class="navbar-item">
          <a href="/community_resources">Community Resources</a>
        </div>
      </div>
    <% end %>
    <div class="navbar-end">
      <% if current_user %>
        <div class='navbar-item'>
          <%= link_to "Account", edit_user_registration_path %>
        </div>
        <div class='navbar-item'>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, no_confirm: true, :class=>"button is-danger is-outlined"%>
        </div>
      <% else %>
        <div class='navbar-item'>
          <%= link_to "Log in", new_user_session_path, :class=>"button is-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>