<div id="navBar"></div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    EntryPoints.navBar('#navBar', <%= raw({
      logoUrl: Organization.instance_owner.present? ? Organization.instance_owner.logo_url : "",
      visibleButtons: policy(:nav_bar).visible_buttons,
    }.to_json) %>)
  })
</script>
