<div id="navBar"></div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    EntryPoints.navBar('#navBar', {
      loggedIn: <%= current_user.present? %>,
      logoUrl: '<%= Organization.current_organization&.logo_url %>'
    })
  })
</script>
