<% if alert || notice %>
  <div class="container">
    <div id="notice"></div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      EntryPoints.notice('#notice', <%= raw({
        message: alert ? alert : notice,
        type: alert ? 'warning' : 'info',
      }.to_json) %>)
    })
  </script>
<% end %>
