<div class="col-md-12 text-center">
  <div class="col-md-8 offset-md-2">
    <% if notice %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= notice.html_safe %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= alert.html_safe %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
      </div>
    <% end %>
  </div>
</div>
