<%# needs f for submit button %>

<% klass_name = f.object.class.model_name.human.titleize.pluralize %>
<% top_divider ||= true %>

<% extra_form_button_1 ||= nil %>
<% extra_form_button_2 ||= nil %>

<% submit_button_prefix ||= (["new","create"].include?(action_name) ? "Create and " : "Update and ") %>
<% submit_button_name = submit_button_name || "go to #{klass_name}" %>
<% submit_button_suffix ||= " index" %>

<% cancel_button ||= link_to("Cancel and go to index", "/" + controller_name,
                             class: "button mt-1 is-default") %>

<div class="form-actions">
  <% "<hr>".html_safe if top_divider %>
  <%= extra_form_button_1 %>
  <%= cancel_button %>
  <%= f.button :submit,
               "#{submit_button_prefix.to_s +
                  submit_button_name.to_s +
                  submit_button_suffix.to_s}",
               class: "button mt-1 is-info" %>
  <%= extra_form_button_2 %>
  <br><hr>
</div>