<%# needs resource %>

<% view_action_name ||= [nil, "test"].include?(params[:action]) ? request.path_parameters[:action] : action_name || params[:action] %>
<% coalesced_controller_name ||= ["public", "admin"].include?(params[:controller_name]) ? view_action_name : [nil, "test"].include?(params[:controller_name]) ? request.path_parameters[:controller] : controller_name %>
<% klass_name ||= coalesced_controller_name.classify.constantize %>
<% table_name ||= resource ? resource.class.table_name : klass_name.table_name %>
<% human_name ||= klass_name.model_name.human if klass_name %>
<% singular_table_name ||= human_name || table_name.to_s.singularize %>
<% page_title ||= view_action_name == "index" ? (human_name || singular_table_name).pluralize.titleize : "#{view_action_name.titleize} #{singular_table_name.titleize}" %>
<% new_button ||= render "layouts/view_add_new_button", table_name: table_name %>

<div class="view-header">
  <% if view_action_name == "index" %>
    <div class="columns is-marginless">
      <div class="column is-9">
        <h1 class="title"><%= page_title %></h1>
        <br>
      </div>
      <% if new_button %>
        <div class="column is-3 has-text-right">
          <%= new_button %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="title is-3">
      <%= page_title %>
    </div>

    <% if ["edit", "new", "update", "create"].include?(view_action_name) %>
      <div class="section-detail">
        <%= render 'form', singular_table_name => resource %>
      </div>
    <% end %>
  <% end %>
</div>
