<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <% if NavbarVisibility.shown?(controller_name, action_name, context.system_settings.display_navbar?) %>
      <%= render "layouts/navbar" %>
    <% end %> 
    <%= render "layouts/notices_and_alerts" %>
    <%= render "layouts/main" %>
  </body>
</html>
