<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <%= render "layouts/without_navbar" %>
    <%= render "layouts/notices_and_alerts" %>
    <%= render "layouts/main" %>
  </body>
</html>